.userWrapper {
    display: flex;
    justify-content: space-around;
    gap: 45px;
    align-items: baseline;
}

.welcomeName {
    font-weight: 700;
    color: #704241;
}

.userMenuBtn {
    width: 100px;
    height: 25px;
}
