.userWrapper {
    display: flex;
    justify-content: space-around;
    gap: 45px;
    align-items: baseline;
}

.welcomeName {
    font-weight: 700;
    color: #704241;
}

.userMenuBtn {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.userMenuBtn:hover {
    background-color: #ff7e00;
    color: #fff;
}
